<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="false" name="AlphaPay Suite">
   		
		<test name="Signup Test">
		<classes>
			<class name="alphaTests.SignUpTest" />
		</classes>
	</test>	

       <test name="Login Test">
		<classes>
			<class name="alphaTests.LoginTest"  />
		</classes>
	</test>	
  <test name="Update Profile Test">
		<classes>
			 <class name="alphaTests.UpdateProfileTest"  />
		</classes>    
        </test>	
<test name="Log Out Test">
		<classes>
			<class name="alphaTests.LogOutTest"  />
		</classes>    
        </test>	
    <test name="Change Password Test">
		<classes>
			<class name="alphaTests.ChangePasswordTest"  />
		</classes>    
        </test>	
  
</suite> <!-- Suite -->